body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #f5f5f5;
    font-size: 8px;
}

a:link{
    text-decoration: none;
    color: #a5a5a5a5; 
}

a:hover{
    text-decoration: dashed;
    color: #d3d3d3;
}